<div class="container text-center my-5">



  <div class="showforprint" style="height:60px;display: none"></div>
  <!-- Grid row -->
  <div class="row" align="center">

    <div class="col-md-12 col-lg-6 wow fadeInLeft" style="margin: 0 auto">

      <!-- Section heading -->
      <h2  class="h1-responsive text-center font-weight-bold my-4 wow fadeInDown">
        <i class="fa fa-mortar-board" aria-hidden="true"></i> <span translate=""> Career/Proyects</span>
      </h2>

      <hr class="blackfade">



      <div class="education-stepper horizontal-padding-3" align="left">
        <ul class="stepper stepper-vertical">

          <!-- Steper -->
          <li class="completed">
            <a style="cursor: default;">
              <span class="square ao-border-bottom blue darken-ao">2020</span>
            </a>

            <div class="step-content" align="left">
              <div class="label font-weight-bold">Automation developer @ INDITEX Productivity and Developer Experience Team</div>
              <span style="font-size: 0.85rem;" class="label font-weight-light font-small text-black-50">
              Taking part on a team dedicated to level-up engineering effectiveness and productivity, simplifying the process of developing, deploying, operating and supporting software, as like as develop tools and automations to achieve those goals.
<br>
During this period, in addition to develop automations with Java and Node, I’ve been close to the company’s DevOps environment, acquiring the necessary knowledge and understanding of the release and deployment workflows of its artifacts, reached the point of implementing my own workflows on my personal repositories.
<br>
                <b style="font-size: 0.9rem">Since January 2021, I also became on Product Owner and responsible of one of the main team tools</b>, dedicated to versioning and changelog automation, giving support and continuing the development (NodeJS)
              </span>
            </div>
            <div class="step-content" align="left">
              <div class="label font-weight-bold">Personal project: CryptoBot</div>
              <span style="font-size: 0.85rem;" class="label font-weight-light font-small text-black-50">OpenSource development. Crypto-trading bot with custom parametrized strategies with
              well known market indicators as enter/exit signals, and algorithms with backtest and parameter calculations (tries combinations for the
                best steep of the indicator for an specific market giving the last past N days/periods samples), multi-strategy chooser</span>
            </div>
            <div class="step-content" align="left">
              <div class="label font-weight-bold">Freelance: Zennith Esports</div>
              <span style="font-size: 0.85rem;" class="label font-weight-light font-small text-black-50">Web and desktop application development for an esports team, joining in-game real-time data and web services (Angualr 8 Front, PHP API, Python desktop services). <a style="display: inline" href="https://zennithesports.com">https://zennithesports.com</a></span>
            </div>
            <div class="step-content" align="left">
              <div class="label font-weight-bold">Personal project: Different bot developments</div>
              <span style="font-size: 0.85rem;" class="label font-weight-light font-small text-black-50">
                Multiple bots and scripts created for automations. From Discord to telegram, familiarizing myself with Google and Twitter APIs and web grabbing with Selenium
              </span>
            </div>
          </li>
          <!-- Steper -->

          <!-- Steper -->
          <li class="completed">
            <a style="cursor: default;">
              <span class="square ao-border-bottom blue darken-ao">2019</span>
            </a>

            <div class="step-content" align="left">
              <div class="label font-weight-bold">Personal project: PayLoBot</div>
              <span style="font-size: 0.85rem;"  class="label font-weight-light font-small text-black-50">
                Develop an automation to jump some waiting queues for specific high-volume sells (festival tickets) with anti-bot systems and cognito auth needs.
                Very proud of this development, with some known software developers from high positions unable to get it working.
              </span>
            </div>
            <div class="step-content" align="left">
              <div class="label font-weight-bold">Personal project: ComuNiBA</div>
              <span style="font-size: 0.85rem;"  class="label font-weight-light font-small text-black-50">
                Comunio based web-game mixing real NBA stats and players and virtual teams to make a basketball manager system.
                Django backend fully developed but project has took aside die to lack of time and motivation.
              </span>
            </div>
          </li>
          <!-- Steper -->
          <!-- Steper -->
          <li class="completed">
            <a style="cursor: default;">
              <span class="square ao-border-bottom blue darken-ao">2018 and back</span>
            </a>

            <div class="step-content" align="left">
              <div class="label font-weight-bold">Personal project: AOTEROCOM Website</div>
              <span style="font-size: 0.85rem;" class="label font-weight-light font-small text-black-50">
                Personal website fully designed and developed from the ground with MEAN Stack and Cognito auth pools. Public code in Github.
              </span>
            </div>
            <div class="step-content" align="left">
              <div class="label font-weight-bold">Volunteer: RianxoSenCabos</div>
              <span class="label font-weight-light font-small text-black-50">Non-profit technology and wireless networking association that consisted of a
              metropolitan area network (MAN) of +100km2 iwth some hard software development behind, from scriptin in access points firmware to a web portal where access dirrefent data and services</span>
            </div>
          </li>
          <!-- Steper -->

        </ul>

      </div>

      <!-- Grid column -->

    </div>

    <div class="col-md-12 col-lg-6 wow fadeInLeft" style="margin: 0 auto">

      <!-- Section heading -->
      <h2  class="h1-responsive text-center font-weight-bold my-4 wow fadeInDown">
        <i class="fa fa-mortar-board" aria-hidden="true"></i> <span translate=""> Certifications / Courses</span>
      </h2>

      <hr class="blackfade">



      <div class="education-stepper horizontal-padding-3" align="left">
        <ul class="stepper stepper-vertical">

          <!-- Steper -->
          <li class="completed">
            <a style="cursor: default;">
              <span class="square ao-border-bottom blue darken-ao">2020</span>
            </a>

            <div class="step-content" align="left">
              <div class="label font-weight-bold">Go: The Complete Developer's Guide (Golang)</div>
              <span class="label font-weight-light font-small text-black-50">Udemy</span>
            </div>
            <div class="step-content" align="left">
              <div class="label font-weight-bold">Master gRPC with Golang</div>
              <span class="label font-weight-light font-small text-black-50">Udemy</span>
            </div>
            <div class="step-content" align="left">
              <div class="label font-weight-bold">Curso de Spring Core 5</div>
              <span class="label font-weight-light font-small text-black-50">Openwebinars <a class="cert-link" href="https://openwebinars.net/cert/b3yrr" style="display: inline">(cert link)</a></span>
            </div>
            <div class="step-content" align="left">
              <div class="label font-weight-bold">Spring Boot & Spring MVC</div>
              <span class="label font-weight-light font-small text-black-50">Openwebinars <a class="cert-link" href="https://openwebinars.net/cert/b3yrr" style="display: inline">(cert link)</a></span>
            </div>
          </li>
          <!-- Steper -->

          <!-- Steper -->
          <li class="completed">
            <a style="cursor: default;">
              <span class="square ao-border-bottom blue darken-ao">2019</span>
            </a>

            <div class="step-content" align="left">
              <div class="label font-weight-bold">English EF SET Certificate: C1, Advanced Level</div>
              <span class="label font-weight-light font-small text-black-50">Education First</span>
            </div>
          </li>
          <!-- Steper -->
          <!-- Steper -->
          <li class="completed">
            <a style="cursor: default;">
              <span class="square ao-border-bottom blue darken-ao">2018</span>
            </a>

            <div class="step-content" align="left">
              <div class="label font-weight-bold">Curso de Angular 6</div>
              <span class="label font-weight-light font-small text-black-50">Openwebinars <a class="cert-link" href="https://openwebinars.net/academia/certificado/170979/" style="display: inline">(cert link)</a></span>
            </div>
            <div class="step-content" align="left">
              <div class="label font-weight-bold">Curso de Angular 4</div>
              <span class="label font-weight-light font-small text-black-50">Openwebinars <a class="cert-link" href="https://openwebinars.net/cert/z1XX6" style="display: inline">(cert link)</a></span>
            </div>
            <div class="step-content" align="left">
              <div class="label font-weight-bold">Jenkins e Integración Continua</div>
              <span class="label font-weight-light font-small text-black-50">Openwebinars <a class="cert-link" href="https://openwebinars.net/cert/pEJaM" style="display: inline">(cert link)</a></span>
            </div>
            <div class="step-content" align="left">
              <div class="label font-weight-bold">Curso de Git, Github y Jekyll</div>
              <span class="label font-weight-light font-small text-black-50">Openwebinars <a class="cert-link" href="https://openwebinars.net/academia/certificado/171257/" style="display: inline">(cert link)</a></span>
            </div>

            <div class="step-content" align="left">
              <div class="label font-weight-bold">Curso de Django</div>
              <span class="label font-weight-light font-small text-black-50">Openwebinars <a class="cert-link" href="https://openwebinars.net/academia/certificado/171194/" style="display: inline">(cert link)</a></span>
            </div>

            <div class="step-content" align="left">
              <div class="label font-weight-bold">Networking TCT/IP</div>
              <span class="label font-weight-light font-small text-black-50">Openwebinars <a class="cert-link" href="https://openwebinars.net/cert/8DkGO" style="display: inline">(cert link)</a></span>
            </div>
          </li>
          <!-- Steper -->

        </ul>

      </div>

      <!-- Grid column -->

    </div>

    <div class="col-md-12 col-lg-6 wow fadeInLeft" style="margin: 0 auto">

      <!-- Section heading -->
      <h2  class="h1-responsive text-center font-weight-bold my-4 wow fadeInDown">
        <i class="fa fa-mortar-board" aria-hidden="true"></i> <span translate=""> Education</span>
      </h2>

      <hr class="blackfade">



      <div class="education-stepper horizontal-padding-3" align="left">
        <ul class="stepper stepper-vertical">

          <!-- Steper -->
          <li class="completed" *ngFor="let i of education">
            <a style="cursor: default;">
              <span class="square ao-border-bottom blue darken-ao"><i class="{{i['icon']}}" aria-hidden="true"></i> {{i['start'] | date: 'yyy'}} - {{i['end']  | date: 'yyy'}}</span>
            </a>

            <div class="step-content" align="left">
              <div class="label font-weight-bold">{{i['name']}}</div>
              <span class="label font-weight-light font-small text-black-50">{{i['place']}}</span>
            </div>
          </li>
          <!-- Steper -->

        </ul>

      </div>

      <!-- Grid column -->

    </div>

    <div class="col-md-12 col-lg-6 wow fadeInRight" style="margin: 0 auto">

      <div class="showforprint" style="height:200px;display: none"></div>
      <!-- Section heading -->
      <h2  class="h1-responsive text-center font-weight-bold my-4 wow fadeInDown">
        <i class="fa fa-lightbulb" aria-hidden="true"></i> <span translate> Skills</span>
      </h2>

      <hr class="blackfade">

      <div id="skill-list" class="horizontal-padding-3" align="left">

        <div *ngFor="let i of skills">
          <div class="label font-weight-bold" style="padding: 8px 0">{{i['name']}}</div>

          <div class="progress">
            <div class="progress-bar wow slideInLeft blue darken-ao ao-border-bottom" data-wow-duration="1500ms" data-wow-delay="100ms" [ngStyle]="{'width': i['percent']+'%'}" style="height: 100%" aria-valuenow="25"
                 aria-valuemin="0" aria-valuemax="100">
              {{i['percent']}}%
            </div>
          </div>
        </div>

      </div>

      <!-- Grid column -->

    </div>

  </div>
  <!-- Grid row -->
</div>
