<section id="aoterocom" class="text-center container my-5" style="padding-top: 2rem">

  <!--Grid row-->
  <div class="row">
    <div class="col-md-12">
      <!--Featured image-->
      <div class="card card-cascade wider reverse wow fadeInDown">
        <div class="view view-cascade overlay">
          <img src="/assets/img/aoterocom.mockup.big.png"  alt="Website Mockup" class="card-img-top">
          <a>
            <div class=""></div>
          </a>
        </div>


      </div>

      <section class="my-5">
        <!-- Section heading -->
        <h3  class="h1-responsive text-center font-weight-bold my-4 wow fadeInDown">
          <i class="fas fa-code"></i> <span translate> This is
            <img src="/assets/img/mean.png" style="height: 80px;">
          </span>
        </h3>

        <hr class="blackfade mb-4">

        <!--Excerpt-->
        <div class="grey-text" align="left" style="color: #757575 !important; padding: 1rem 0; align-content: left">
          <h5 class="text-center w-responsive mx-auto mb-4 dark-grey-text" translate
              [innerHtml]="this.translate.instant('notstatic') | sanitizeT: 'html'"></h5>
          <ul class="w-responsive mx-auto"><li translate [innerHtml]="this.translate.instant('fullmean') | sanitizeT: 'html'"></li>
            <li translate [innerHtml]="this.translate.instant('seeded') | sanitizeT: 'html'"></li>
            <li translate [innerHtml]="this.translate.instant('angfrontend') | sanitizeT: 'html'"></li>
            <li translate [innerHtml]="this.translate.instant('hostedaws') | sanitizeT: 'html'"></li>
            <li translate [innerHtml]="this.translate.instant('cognitoforuser') | sanitizeT: 'html'"></li>
            <li translate [innerHtml]="this.translate.instant('designedboots') | sanitizeT: 'html'"></li>
            <li translate [innerHtml]="this.translate.instant('brandingandlogo') | sanitizeT: 'html'"></li>
          </ul>
        </div>
      </section>
      <section class="my-5">

        <!-- Section heading -->
        <h3  class="h1-responsive text-center font-weight-bold my-4 wow fadeInDown">
          <i class="fas fa-question"></i> <span translate> Why this project</span>
        </h3>

        <hr class="blackfade mb-5">


        <!-- Section description -->
        <div align="left">
        <p class="grey-text text-center w-responsive mx-auto mb-4 text-align-left" translate
           [innerHtml]="this.translate.instant('aodesc1') | sanitizeT: 'html'">
        </p>

        <p class="grey-text text-center w-responsive mx-auto mb-4 text-align-left" translate
           [innerHtml]="this.translate.instant('aodesc2') | sanitizeT: 'html'">
        </p>

        <p class="grey-text text-center w-responsive mx-auto mb-4 text-align-left" translate
           [innerHtml]="this.translate.instant('aodesc3') | sanitizeT: 'html'">

        </p>

        </div>

      </section>

      <section class="my-5">

        <!-- Section heading -->
        <h3  class="h1-responsive text-center font-weight-bold my-4 wow fadeInDown">
          <i class="fab fa-github"></i> <span translate> Checkout from Github</span>
        </h3>

        <hr class="blackfade mb-5">


        <!-- Section description -->
        <p class="grey-text text-center w-responsive mx-auto mb-5" translate
           [innerHtml]="this.translate.instant('copyrighted') | sanitizeT: 'html'">
        </p>

        <h5><a href="https://github.com/aoterolorenzo/aoterocom" class="text-aocolor">https://github.com/aoterolorenzo/aoterocom</a></h5>

      </section>


    </div>
  </div>
</section>
