<section id="cryptobot" class="text-center container my-5" style="padding-top: 2rem">

  <!--Grid row-->
  <div class="row">
    <div class="col-md-12">
      <!--Featured image-->
      <div class="card card-cascade wider reverse wow fadeInDown">
        <div class="view view-cascade overlay">
          <img src="/assets/img/cryptobot2.png"  alt="Crypto logo" class="card-img-top">
          <a>
            <div class=""></div>
          </a>
        </div>


      </div>

      <section class="my-5">
        <!-- Section heading -->
        <h3  class="h1-responsive text-center font-weight-bold my-4 wow fadeInDown">
          <i class="fas fa-code"></i> <span translate> This is
            <img src="/assets/img/gologo.png" style="height: 80px;">
          </span>
        </h3>

        <hr class="blackfade mb-4">

        <!--Excerpt-->
        <div class="grey-text" align="left" style="color: #757575 !important; padding: 1rem 0;">
          <h5 class="text-center w-responsive mx-auto mb-4 dark-grey-text" translate
              [innerHtml]="this.translate.instant('crypto_title') | sanitizeT: 'html'"></h5>
          <ul class="w-responsive mx-auto"><li translate [innerHtml]="this.translate.instant('crypto_golangproject') | sanitizeT: 'html'"></li>
            <li translate [innerHtml]="this.translate.instant('crypto_binancesupport') | sanitizeT: 'html'"></li>
            <li translate [innerHtml]="this.translate.instant('crypto_customparameters') | sanitizeT: 'html'"></li>
            <li translate [innerHtml]="this.translate.instant('crypto_backtrace') | sanitizeT: 'html'"></li>
          </ul>
        </div>

        <!--Featured image-->
        <div class="w-responsive mx-auto mb-4 reverse wow fadeInDown">
          <div class="view view-cascade overlay">
            <img src="/assets/img/cryptobot3.png"  alt="Crypto logo" class="card-img-top">
            <a>
              <div class=""></div>
            </a>
          </div>


        </div>
      </section>
      <section class="my-5">

        <!-- Section heading -->
        <h3  class="h1-responsive text-center font-weight-bold my-4 wow fadeInDown">
          <i class="fas fa-question"></i> <span translate> Why this project</span>
        </h3>

        <hr class="blackfade mb-5">


        <!-- Section description -->
        <div align="left">
        <p class="grey-text text-center w-responsive mx-auto mb-4 text-align-left" translate
           [innerHtml]="this.translate.instant('crypto_desc') | sanitizeT: 'html'">
        </p>

        <p class="grey-text text-center w-responsive mx-auto mb-4 text-align-left" translate
           [innerHtml]="this.translate.instant('crypto_desc2') | sanitizeT: 'html'">
        </p>

        <p class="grey-text text-center w-responsive mx-auto mb-4 text-align-left" translate
           [innerHtml]="this.translate.instant('crypto_desc3') | sanitizeT: 'html'">
        </p>


        </div>

      </section>

      <!--Featured image-->
      <div class="w-responsive mx-auto mb-4 reverse wow fadeInDown">
        <div class="view view-cascade overlay">
          <img src="/assets/img/cryptobot4.png"  alt="Crypto logo" class="card-img-top">
          <a>
            <div class=""></div>
          </a>
        </div>


      </div>

      <section class="my-5">

        <!-- Section heading -->
        <h3  class="h1-responsive text-center font-weight-bold my-4 wow fadeInDown">
          <i class="fab fa-gitlab"></i> <span translate> Checkout from Gitlab</span>
        </h3>

        <hr class="blackfade mb-5">


        <!-- Section description -->
        <p class="grey-text text-center w-responsive mx-auto mb-5" translate
           [innerHtml]="this.translate.instant('open-source') | sanitizeT: 'html'">
        </p>

        <h5><a href="https://gitlab.com/aoterocom/AOCryptobot" class="text-aocolor">https://gitlab.com/aoterocom/AOCryptobot</a></h5>

      </section>


    </div>
  </div>
</section>
