<section id="cryptobot" class="text-center container my-5" style="padding-top: 2rem">

  <!--Grid row-->
  <div class="row">
    <div class="col-md-12">
      <!--Featured image-->
      <div class="card card-cascade wider reverse wow fadeInDown">
        <div class="view view-cascade overlay">
          <img src="/assets/img/telemetry.jpeg"  alt="Zennith Esports" class="card-img-top">
          <a>
            <div class=""></div>
          </a>
        </div>


      </div>

      <section class="my-5">
        <!-- Section heading -->
        <h3  class="h1-responsive text-center font-weight-bold my-4 wow fadeInDown">
          <span translate>Gaming Engineering and Automation
          </span>
        </h3>

        <hr class="blackfade mb-4">

        <!--Excerpt-->
        <div class="grey-text" align="left" style="color: #757575 !important; padding: 1rem 0;">
          <p class="grey-text text-center w-responsive mx-auto mb-4 text-align-left" translate
             [innerHtml]="this.translate.instant('aos_desc') | sanitizeT: 'html'">
          </p>
          <ul class="w-responsive mx-auto"><li translate [innerHtml]="this.translate.instant('aos_livetimings') | sanitizeT: 'html'"></li>
            <li translate [innerHtml]="this.translate.instant('aos_telanalizer') | sanitizeT: 'html'"></li>
            <li translate [innerHtml]="this.translate.instant('aos_livetel') | sanitizeT: 'html'"></li>
            <li translate [innerHtml]="this.translate.instant('aos_eplanner') | sanitizeT: 'html'"></li>
            <li translate [innerHtml]="this.translate.instant('aos_publiccal') | sanitizeT: 'html'"></li>
            <li translate [innerHtml]="this.translate.instant('aos_pitwall') | sanitizeT: 'html'"></li>
          </ul>
        </div>

      </section>
      <section class="my-5">

        <!-- Section heading -->
        <h3  class="h1-responsive text-center font-weight-bold my-4 wow fadeInDown">
          <span translate
                [innerHtml]="this.translate.instant('aos_title2') | sanitizeT: 'html'"></span>
        </h3>

        <hr class="blackfade mb-5">
        <!-- Section description -->
        <div align="left">
          <p class="grey-text text-center w-responsive mx-auto mb-4 text-align-left" translate
             [innerHtml]="this.translate.instant('aos_desc1') | sanitizeT: 'html'">
          </p>


        </div>

        <!-- Section description -->
        <div align="left">
          <p class="grey-text text-center w-responsive mx-auto mb-4 text-align-left" translate
             [innerHtml]="this.translate.instant('aos_desc2') | sanitizeT: 'html'">
          </p>


        </div>

      </section>

      <section class="my-5">

        <!-- Section heading -->
        <h3  class="h1-responsive text-center font-weight-bold my-4 wow fadeInDown">
          <i class="fab fa-gitlab"></i> <span translate> Sources are private</span>
        </h3>

        <hr class="blackfade mb-5">


        <!-- Section description -->
        <p class="grey-text text-center w-responsive mx-auto mb-5" translate [innerHtml]="this.translate.instant('private') | sanitizeT: 'html'">
        </p>
      </section>


    </div>
  </div>
</section>
