<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar">
  <logo>
    <a class="navbar-brand" href="#">
      <img src="/assets/img/alberto-otero.logo.png" height="30" class="d-inline-block align-top" alt="">
    </a>
  </logo>
  <links>
    <ul class="navbar-nav">
      <li class="nav-item dropdown" dropdown>
        <a id="home" dropdownToggle type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect translate>
          Resume<span class="caret"></span><span class="sr-only">(current)</span></a>
        <hr class="whitefade no-margin no-padding" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <div *dropdownMenu class="dropdown-menu dropdown" role="menu">
          <a routerLink="/"  class="dropdown-item waves-light" mdbWavesEffect mdbPageScroll
             [pageScrollDuration]="800" [pageScrollOffset]="90" href="#cover" translate>Home</a>
          <a routerLink="/"  class="dropdown-item waves-light" mdbWavesEffect mdbPageScroll [pageScrollDuration]="800"
             [pageScrollOffset]="90" href="#about-me" translate>About me</a>
          <a routerLink="/" class="dropdown-item waves-light" mdbWavesEffect mdbPageScroll [pageScrollDuration]="800"
             [pageScrollOffset]="65" href="#resume" translate>Education and Skills</a>
          <a routerLink="/" class="dropdown-item waves-light" mdbWavesEffect mdbPageScroll [pageScrollDuration]="800"
             [pageScrollOffset]="90" href="#techs" translate>Technologies</a>
          <a routerLink="/" class="dropdown-item waves-light" mdbWavesEffect mdbPageScroll [pageScrollDuration]="800"
             [pageScrollOffset]="90" href="#other-skills" translate>Other Skills</a>
          <div class="divider dropdown-divider"> </div>
          <a routerLink="/" class="dropdown-item waves-light" mdbWavesEffect  href="#footer"
             [pageScrollDuration]="800" mdbPageScroll translate>Get in touch</a>
        </div>
      </li>
      <li class="nav-item dropdown" dropdown>
        <a id="projects" dropdownToggle type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect translate>
          Projects<span class="caret"></span><span class="sr-only">(current)</span></a>
        <hr class="whitefade no-margin no-padding" routerLink="/projects/aoterocom" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <div *dropdownMenu class="dropdown-menu dropdown" role="menu">
          <a routerLink="/projects/aoterocom"  class="dropdown-item waves-light" mdbWavesEffect mdbPageScroll
             [pageScrollDuration]="800" [pageScrollOffset]="90" href="#aoterocom" translate>Personal Website</a>
          <a routerLink="/projects/cryptobot" class="dropdown-item waves-light" mdbWavesEffect mdbPageScroll [pageScrollDuration]="800"
             [pageScrollOffset]="65" href="#cryptobot" translate>
            <i style="margin-top: -8px;position:relative" class="new-banner" translate>New</i>
            CryptoTraderBot</a>
          <a routerLink="/projects/comuniba" class="dropdown-item waves-light" mdbWavesEffect mdbPageScroll [pageScrollDuration]="800"
             [pageScrollOffset]="65" href="#resume" translate>ComuNiBA</a>
          <a routerLink="/projects/aoservices" class="dropdown-item waves-light" mdbWavesEffect mdbPageScroll [pageScrollDuration]="800"
             [pageScrollOffset]="65" href="#aoservices" translate>
            <i style="margin-top: -8px;position:relative" class="new-banner" translate>Early dev</i>AOServices</a>
          <a routerLink="/projects/zennithesports" class="dropdown-item waves-light" mdbWavesEffect mdbPageScroll [pageScrollDuration]="800"
             [pageScrollOffset]="65" href="#zennithesports" translate>ZennithEsports</a>
          <a routerLink="/projects/rianxosencabos" class="dropdown-item waves-light" mdbWavesEffect  href="#footer"
             [pageScrollDuration]="800" mdbPageScroll translate>RianxoSenCabos</a>
        </div>
      </li>
      <li class="nav-item">
        <i class="soon-banner" translate>Soon</i>
        <a class="nav-link waves-light" mdbWavesEffect translate>Blog</a>
        <hr class="whitefade no-margin no-padding">
      </li>
    </ul>
    <ul class="navbar-nav ml-auto nav-flex-icons float-right">
      <!-- Dropdown -->
      <li class="nav-item dropdown" dropdown>
        <a dropdownToggle type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
          <i class="fa fa-globe"></i>
        </a>
        <div *dropdownMenu class="dropdown-menu dropdown lang-dropdown" role="menu">

          <div class="view zoom lang-icon"
               mdbWavesEffect (click)="switchLanguage('en')">
            <img id="ukflag" class="flag"
                 src="/assets/icon/uk.png"/>
          </div>

          <div class="view zoom lang-icon"
               mdbWavesEffect (click)="switchLanguage('es')">

            <img id="spainflag" class="flag"
                 src="/assets/icon/es.png"/>
          </div>

          <div class="view zoom lang-icon"
               mdbWavesEffect (click)="switchLanguage('gl')">

            <img id="galicianflag" class="flag"
                 src="/assets/icon/gl.png"/>
          </div>

        </div>
      </li>
      <li *ngIf="guest; else logguedIn" class="nav-item dropdown" dropdown>
        <a dropdownToggle type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
          <i class="fa fa-user"></i>
        </a>
        <div *dropdownMenu class="dropdown-menu dropdown" role="menu">
          <a class="dropdown-item waves-light" mdbWavesEffect (click)="showLogin()">Login</a>
        </div>
      </li>
      <ng-template #logguedIn>
      <li class="nav-item dropdown" dropdown>
        <a dropdownToggle type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
          <i class="fa fa-user"></i> {{parameters[2]?.value}}
        </a>
        <div *dropdownMenu class="dropdown-menu dropdown" role="menu">
          <a class="dropdown-item waves-light" mdbWavesEffect (click)="userService.logout()" translate>Log Out</a>
        </div>
      </li>
      </ng-template>
    </ul>
  </links>
</mdb-navbar>



