<section id="cryptobot" class="text-center container my-5" style="padding-top: 2rem">

  <!--Grid row-->
  <div class="row">
    <div class="col-md-12">
      <!--Featured image-->
      <div class="card card-cascade wider reverse wow fadeInDown">
        <div class="view view-cascade overlay">
          <img src="/assets/img/zennithesports.jpeg"  alt="Zennith Esports" class="card-img-top">
          <a>
            <div class=""></div>
          </a>
        </div>


      </div>

      <section class="my-5">
        <!-- Section heading -->
        <h3  class="h1-responsive text-center font-weight-bold my-4 wow fadeInDown">
          <i class="fas fa-code"></i> <span translate>Gaming Engineering and Automation
          </span>
        </h3>

        <hr class="blackfade mb-4">

        <!--Excerpt-->
        <div class="grey-text" align="left" style="color: #757575 !important; padding: 1rem 0;">
          <p class="grey-text text-center w-responsive mx-auto mb-4 text-align-left" translate
             [innerHtml]="this.translate.instant('zs_minidesc') | sanitizeT: 'html'">
          </p>
          <ul class="w-responsive mx-auto"><li translate [innerHtml]="this.translate.instant('crypto_golangproject') | sanitizeT: 'html'"></li>
            <li translate [innerHtml]="this.translate.instant('zs_eautomations') | sanitizeT: 'html'"></li>
            <li translate [innerHtml]="this.translate.instant('zs_pyclient') | sanitizeT: 'html'"></li>
            <li translate [innerHtml]="this.translate.instant('zs_livetelemetry') | sanitizeT: 'html'"></li>
            <li translate [innerHtml]="this.translate.instant('zs_cm') | sanitizeT: 'html'"></li>
            <li translate [innerHtml]="this.translate.instant('zs_back') | sanitizeT: 'html'"></li>
            <li translate [innerHtml]="this.translate.instant('zs_sharing') | sanitizeT: 'html'"></li>
          </ul>
        </div>

        <!--Featured image-->
        <div class="w-responsive mx-auto mb-4 reverse wow fadeInDown">
          <div class="view view-cascade overlay">
            <img src="/assets/img/streaming.jpeg"  alt="Crypto logo" class="card-img-top">
            <a>
              <div class=""></div>
            </a>
          </div>


        </div>
      </section>
      <section class="my-5">

        <!-- Section heading -->
        <h3  class="h1-responsive text-center font-weight-bold my-4 wow fadeInDown">
           <span translate> Nobody at the wheel</span>
        </h3>

        <hr class="blackfade mb-5">


        <!-- Section description -->
        <div align="left">
          <p class="grey-text text-center w-responsive mx-auto mb-4 text-align-left" translate
             [innerHtml]="this.translate.instant('zs_desc') | sanitizeT: 'html'">
          </p>

          <p class="grey-text text-center w-responsive mx-auto mb-4 text-align-left" translate
             [innerHtml]="this.translate.instant('zs_des2') | sanitizeT: 'html'">
          </p>
          <ul class="w-responsive mx-auto"><li translate [innerHtml]="this.translate.instant('zs_des3') | sanitizeT: 'html'"></li>
            <li translate [innerHtml]="this.translate.instant('zs_des4') | sanitizeT: 'html'"></li>
            <li translate [innerHtml]="this.translate.instant('zs_des5') | sanitizeT: 'html'"></li>
          </ul>


        </div>

      </section>

      <!--Featured image-->
      <div class="w-responsive mx-auto mb-4 reverse wow fadeInDown">
        <div class="view view-cascade overlay">
          <img src="/assets/img/strategist.jpeg"  alt="Crypto logo" class="card-img-top">
          <a>
            <div class=""></div>
          </a>
        </div>


      </div>

      <section class="my-5">

        <!-- Section heading -->
        <h3  class="h1-responsive text-center font-weight-bold my-4 wow fadeInDown">
          <i class="fab fa-gitlab"></i> <span translate> Sources are private</span>
        </h3>

        <hr class="blackfade mb-5">


        <!-- Section description -->
        <p class="grey-text text-center w-responsive mx-auto mb-5" translate [innerHtml]="this.translate.instant('private') | sanitizeT: 'html'">
        </p>
      </section>


    </div>
  </div>
</section>
